<head>
  <!-- Basic Meta Tags -->
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="title" content="Beetle - Multipurpose Discord Bot" />
  <meta
    name="description"
    content="Beetle is a powerful multipurpose Discord bot for moderation, economy, games, and server management. Boost engagement and simplify your server with Beetle."
  />
  <meta
    name="keywords"
    content="discord bot, beetle bot, beetle, beetle discord bot, beetle discord, discord giveaway bot, discord moderation bot, discord automation bot, discord multipurpose bot, discord utilities bot,"
  />
  <meta name="author" content="Beetle Discord Multipurpose Bot" />
  <meta name="robots" content="index, follow" />
  <meta name="theme-color" content="#5865F2" />

  <!-- Open Graph / Facebook Meta Tags -->
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Beetle - Multipurpose Discord Bot" />
  <meta
    property="og:description"
    content="Beetle is a powerful multipurpose Discord bot packed with moderation, economy, games, and server management tools."
  />
  <meta property="og:url" content="https://beetle.click" />
  <meta
    property="og:image"
    content="https://beetle.click/public/images/og-banner.png"
  />
  <meta property="og:site_name" content="Beetle Multipurpose Discord Bot" />

  <link rel="icon" href="/icon.png" type="image/png" />
  <title>Beetle Discord Multipurpose Bot</title>

  <!-- Include AOS -->
  <link
    href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css"
    rel="stylesheet"
  />
  <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>

  <!-- Tailwind -->
  <script src="https://cdn.tailwindcss.com"></script>

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
    rel="stylesheet"
  />

  <!-- Font Awesome -->
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
  />
</head>
